*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #ff6900;
}

.container{
    margin: auto;
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
}

.logo img{
    width: 100%;
}

.header-padding{
    padding: 0.5rem;
}

.header-padding img{
    padding: 0 0.5rem;
}

.logo{
    width: 8.5rem;
    padding-bottom: 0.1rem;
}

/* main's start */

.wrap{
    flex-wrap: wrap;
}

main{
    padding-bottom: 3rem;
}

main img{
    width: 100%;
}

.model-img{
    width: 18.5rem;
    position: relative;
    margin-top: 2.5rem;
}

.image-hovered{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.model-img:hover .image-hovered{
    display: unset ;
}

.heart{
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 0.2rem 0.3rem;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.heart:hover{
   color:red;
}

.tag-container{
    position: absolute;
    bottom: 2rem;
    left: 0em;
}

.model-img span{
    padding: 0.2rem 0.4rem;
    color: white;
    font-size: 0.8rem;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

h2{
    text-transform: uppercase;
    font-size: 0.9rem;
}

.old-price{
    font-size: 0.8rem;
    text-decoration:line-through;
}

.price {
    color: red;
    font-size: 0.8rem;
}

footer{
    background-color: #1a1a1a;
    color: white;
    padding: 2rem;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 0.74rem;
    padding-right: 0.1rem;
}

footer img{
    width: 1.5rem;
    margin-top: 0.4rem;
}

#tw{
    width: 1.9rem;
    margin-bottom: -0.2rem ;
}

#fb{
    width: 1.4rem;
    margin-bottom: 0.08rem;

}
